html {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}

* {
    border: 2px solid black;
}

.site-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#banner {
    width: 100%;
    height: 30rem;
    background-image: url("../../resources/images/glasses-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation-bar {
    justify-content: space-between;
    height: 3rem;
    color: white;
    background-color: cadetblue;
    top: 1rem;
    z-index: 500;
}

.logotype {
    display: flex;
    margin-left: 2rem;
    font-size: 1rem;
    align-items: center;
}

.logotype img {
    height: 1.5rem;
    margin-right: 1rem;
    float: left;
}

.navigation-bar nav {
    display: flex;
    align-items: center;
}

#banner .navigation-bar nav a {
    color: inherit;
    text-decoration: none;
    margin-right: 2rem;
}

.slogan {
    position: absolute;
    padding: 1.5rem 0;
    color: black;
    background-color: White;
    width: 36rem;
    left: 19.5rem;
    top: 10rem;
}

.slogan h2 {
    font-size: 2rem;
    padding: 0 5rem;
}

#products-and-services {
    color: cadetblue;
    justify-content: space-around;
    margin-top: 3rem;
}

.featured-service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-service .image-container {
    min-height: 9.2rem;
    justify-content: center;
}

.featured-service h1 {
    margin: 0;
}

#philosophy-and-appointments {
    margin-top: 3rem;
}

.philosophy {
    margin-right: 5%;
}

.column-heading {
    display: flex;
    color: White;
    background-color: cadetblue;
    width: 15rem;
    height: 3rem;
    align-items: center;
}

.column-heading h2 {
    margin-left: 1.25rem;
    font-weight: bold;
}

footer {
    color: Lightblue;
    background-color: azure;
    align-items: center;
    height: 8rem;
    margin-top: 6rem !Important;
}

footer a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    margin-left: 1.0rem;
}

ul li {
    margin-right: 0.75rem;
    list-style: none;
    float: left;
    font-family: Arial;
    font-size: 2rem;
    color: #000;
    font-weight: Normal;
    opacity: 0;
    animation:1s ease 3s normal forwards 1 animate;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

ul li:nth-child(1) {
    /*Don't*/
    animation-delay: 1000ms
}

ul li:nth-child(2) {
    /*Just*/
    animation-delay: 1500ms
}

ul li:nth-child(3) {
    /*Look*/
    margin: 0;
    animation-delay: 2000ms;
}

ul li:nth-child(4) {
    /*Period*/
    margin: 0;
    animation-delay: 2250ms;
}

ul li:nth-child(5) {
    /*Period*/
    margin: 0;
    animation-delay: 2500ms
}

ul li:nth-child(6) {
    /*Comma*/
    animation-delay: 2750ms;
}

ul li:nth-child(7) {
    /*See*/
    font-weight: bold;
    font-style: italic;
    animation-delay: 3750ms;
}