html {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
}

* {
    border: 2px solid black;
}

.site-container {
    display: flex;
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#banner {
    width: 100%;
    height: 30rem;
}

#banner::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(6px);
    background-image: url("../../resources/images/glasses-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: 3200ms ease 5000ms normal forwards 1 animate_filter;
}

@keyframes animate_filter {
    from {
        filter: blur(8px)
    }
    to {
        filter: blur(0px)
    }
}

.navigation-bar {
    justify-content: space-between;
    height: 3rem;
    color: white;
    background-color: cadetblue;
    top: 1rem;
    z-index: 500;
}

.logotype {
    display: flex;
    margin-left: 2rem;
    font-size: 1rem;
    align-items: center;
}

.logotype img {
    height: 1.5rem;
    margin-right: 1rem;
    float: left;
}

.navigation-bar nav {
    display: flex;
    align-items: center;
}

#banner .navigation-bar nav a {
    color: inherit;
    text-decoration: none;
    margin-right: 2rem;
}

.exhortation {
    position: absolute;
    padding: 2rem 0;
    color: Crimson;
    background-color: White;
    width: 36rem;
    left: 19.5rem;
    top: 10rem;
}

#products-and-services {
    color: cadetblue;
    justify-content: space-around;
    margin-top: 3rem;
}

.featured-service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featured-service .image-container {
    min-height: 9.2rem;
    justify-content: center;
}

.featured-service h1 {
    margin: 0;
    font-size: 1.5rem;
}

#philosophy-and-appointments {
    margin-top: 3rem;
}

#philosophy-and-appointments p {
    margin-top: 1.5rem;
    color: cadetblue;
}

.philosophy {
    margin-right: 5%;
}

.column-heading {
    display: flex;
    color: White;
    background-color: Crimson;
    width: 15rem;
    height: 3rem;
    align-items: center;
}

.column-heading h2 {
    margin-left: 1.25rem;
    font-weight: bold;
}

footer {
    color: Lightblue;
    background-color: Black;
    align-items: center;
    height: 8rem;
    margin-top: 6rem !Important;
}

footer a {
    text-decoration: none;
    font-size: 1rem;
    color: inherit;
    margin-left: 1.0rem;
}

ul li {
    list-style: none;
    float: left;
    font-family: Arial;
    font-size: 2rem;
    color: Black;
    font-weight: Bold;
    opacity: 0;
    animation:1000ms ease 3000ms normal forwards 1 animate_text;
}

@keyframes animate_text {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


ul li:nth-child(1) {
    /*D*/
    padding-left: 5rem;
    animation-delay: 1000ms
}

ul li:nth-child(2) {
    /*O*/
    animation-delay: 1100ms
}

ul li:nth-child(3) {
    /*N*/
    animation-delay: 1200ms
}

ul li:nth-child(4) {
    /*'*/
    animation-delay: 1300ms
}

ul li:nth-child(5) {
    /*T*/
    margin-right: 0.75rem;
    animation-delay: 1400ms
}

ul li:nth-child(6) {
    /*J*/
    animation-delay: 1500ms
}

ul li:nth-child(7) {
    /*U*/
    animation-delay: 1600ms
}

ul li:nth-child(8) {
    /*S*/
    animation-delay: 1700ms
}

ul li:nth-child(9) {
    /*T*/
    margin-right: 0.75rem;
    animation-delay: 1800ms
}

ul li:nth-child(10) {
    /*L*/
    margin: 0;
    animation-delay: 1900ms;
}

ul li:nth-child(11) {
    /*O*/
    margin: 0;
    animation-delay: 2000ms;
}

ul li:nth-child(12) {
    /*O*/
    margin: 0;
    animation-delay: 2100ms
}

ul li:nth-child(13) {
    /*K*/
    animation-delay: 2200ms;
}

ul li:nth-child(14) {
    /*Period*/
    margin: 0;
    animation-delay: 2300ms;
}

ul li:nth-child(15) {
    /*Period*/
    margin: 0;
    animation-delay: 2500ms
}

ul li:nth-child(16) {
    /*Comma*/
    margin-right: 0.75rem;
    animation-delay: 2700ms;
}

ul li:nth-child(17) {
    /*SEE*/
    font-style: italic;
    animation: 3000ms ease 4000ms normal forwards 1 animate_text;
}